:root {
    --uniface-primary-color: #1976D2;
    --uniface-primary-text-color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}