:root {
    --uniface-primary-color: #1976D2;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.demo-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 12px;
}

.demo-block {
    padding: 6px;
}


.cell-block {
    position: relative;
    width: 100%;
    height: 100%;
    /*border-right: 1px dotted #7f7f7f;
    border-bottom: 1px dotted #7f7f7f;*/
}

.cell-block::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: calc(100% + 8px); /* 扩展以覆盖 gap */
    height: 1px;
    background: repeating-linear-gradient(90deg, #c0c0c0 0px, #c0c0c0 2px, transparent 2px, transparent 4px);
}

.cell-block::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: calc(100% + 8px); /* 扩展以覆盖 gap */
    width: 1px;
    background: repeating-linear-gradient(0deg, #c0c0c0 0px, #c0c0c0 2px, transparent 2px, transparent 4px);
}

.right-col::before {
    width: 0;
}

.bottom-row::after {
    height: 0;
}

.cell-block > div {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.uniface-common-picker .action-icon {
    visibility: visible;
}